{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
        <div id="parent" class="card card-accent-primary" >
            <div class="card-header font-weight-bold h7">
                Book Room
            </div>
            <div class="card-block" style="height:85vh; padding-right: 5px; overflow-y: auto">
                <div class="form-group">
                <div class="row">
                    <br/>
                </div>
                <div class="row">
                    <div class='col-md-3'>
                        <label>From Date:
                        <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" id="dateTimeFrom" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </label>
                    </div>
                    <div class='col-md-3'>
                        <label>To Date:
                        <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" id ="dateTimeTo" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </label>
                    </div>
                    <div class ="col-md-3" style="padding-top:20px">
                        <button class="btn btn-primary" onclick="showRoom()">Show Rooms</button>
                    </div>
                        
                    </div>
                </div>
                <div class="row">
                    <br/>
                </div>
                <div class="row col-md-12">
                    <table id="example" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            
                    </table>
                </div>
            </div>
        </div>
        
    </div>

    
<script type="text/javascript">
    
    $(function () {
        var date = new Date();
        date.setDate(date.getDate()-1);
        $('#datetimepicker1').datetimepicker(
        {   minDate : date,
            disabledDates: [date]
        });
           
        $('#datetimepicker2').datetimepicker(
        {   minDate : date,
            disabledDates: [date]
        });

    });
   
    function showRoom(){
        var fromDate = new Date(Date.parse($('#dateTimeFrom').val()));
        console.log(fromDate);
        var toDate = new Date(Date.parse($('#dateTimeTo').val()));
        if(isNaN(toDate) || isNaN(fromDate))
        {
            alert("From/To Date cant be blank");
            return;
        }
        if(toDate-fromDate <0){
            alert("To Date cant be less than From Date");
            return;
        }
        //make a post request !
        $.post("bookRoom",{fromDate:$('#dateTimeFrom').val(),toDate:$('#dateTimeTo').val()},function(data){
            console.log(data);

            var table = $('#example').DataTable( {
                data: data["AvailableRooms"],
                columns: [
                    { "data" : "roomId","title":"Room No."},	
                    { "data" : "roomPrice" ,"title":"Price "},
                    { "data" : "roomName" ,"title":"Room Name"},
                    { "data" : "floorNumber" ,"title":"Floor Number"},
                    { "data" : "wingName" ,"title":"Wing Name"},
                    {"title": "", "data": null }
                
                ],
                "columnDefs": [ {
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class='btn btn-primary'>Book This Room</button>"
                } ],
                "paging": false,
				"destroy": true,
				"bInfo" : false,
				"searching": false,
                rowReorder: {
                    update: true
                },
                "aaSorting": []

            });
            


            $('#example tbody').on( 'click', 'button', function () {
                console.log($(this).parents('tr'));
                var data = table.row( $(this).parents('tr') ).data();
                var fromDate = new Date(Date.parse($('#dateTimeFrom').val()));
                var toDate = new Date(Date.parse($('#dateTimeTo').val()));
                console.log("booking room");
                $.post("api/bookAvailableRoom",
                    {fromDate:$('#dateTimeFrom').val(),toDate:$('#dateTimeTo').val(),roomId:data.roomId},
                    function(data){
                        console.log(data);
                        if(data.status == 1)
                            alert("Your Booking was successful");
                        else
                            alert("Your Booking couldnt complete. Please try again");
                        //showRoom();
                        window.location.reload(false); 
                    });
            });
    
        });
        
    }
    
</script>

{% endblock %}
