{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
        <div id="roomInfo" class="card card-accent-primary" >
            <div class="card-header font-weight-bold h7">
                Room Information
            </div>
            <div class="card-block" style="height:15vh; padding-right: 5px;">
                <div class="form-group">
                <div class="row">
                    <br/>
                </div>
                <div class="row col-md-12" >
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Room Number</th>
                                <th>Room Price ($)</th>
                                <th>Room Floor </th>
                                <th>Wing Name</th>
                                <th>Room Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{currentRoom.roomId}}</td>
                                <td>{{currentRoom.roomPrice}}</td>
                                <td>{{currentRoom.floorNumber}}</td>
                                <td>{{currentRoom.wingName}}</td>
                                <td>{{currentRoom.roomName}}</td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div id="bookingInfo" class="card card-accent-primary" >
            <div class="card-header font-weight-bold h7">
                All Bookings
            </div>
            <div class="card-block" style="height:65vh; padding-right: 5px;">
                <div class="form-group">
                <div class="row">
                    <br/>
                </div>
                <div class="row col-md-12" >
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Booked By</th>
                                <th>Booking From Date</th>
                                <th>Booking To Date</th>
                                <th>Amount Paid</th>
                                <th>Booking Date</th>
                                <th>Delete Booking</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for userBooking in userBookings %}
                            <tr>
                                <td>{{userBooking.bookedBy.name}}</td>
                                <td>{{userBooking.bookingFromDate}}</td>
                                <td>{{userBooking.bookingToDate}}</td>
                                <td>{{userBooking.bookingPrice}}</td>
                                <td>{{userBooking.updatedOn}}</td>
                                <td><button class="btn btn-danger" onclick="deleteBooking({{userBooking.bookingId}})">Delete Booking</button></td>
                            </tr>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
     
    </div>

    
<script type="text/javascript">
    function deleteBooking(currentBooking)
    {
        console.log(currentBooking);
        $.post("api/deleteBooking",
            {bookingId: currentBooking},
            function(data){
                location.reload();
            });
    }
    
</script>

{% endblock %}
