/* Your custom styles */

body {
  height: 100%;
  width: 100%;
  min-height:100%;
}

body.navbar-fixed .main {
    padding-top: 35px;
}

header.navbar a.navbar-brand {
    
    background-size: 95px 31px;
    /*padding: 0px; */
}

header.navbar {
    height: 40px;
    min-height: 35px;
    line-height: 35px; 
}

header.navbar a.navbar-brand {
    
}

footer {
    
    position: relative;;
    bottom:0;
}

.navbar-toggler, .aside-toggle {
    line-height: 29px; 
    font-size: 16px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .open > .nav-link, 
.navbar-nav .open > .nav-link:focus, 
.navbar-nav .open > .nav-link:hover, 
.navbar-nav .active > .nav-link, 
.navbar-nav .active > .nav-link:focus, 
.navbar-nav .active > .nav-link:hover, 
.navbar-nav .nav-link.open, 
.navbar-nav .nav-link.open:focus, 
.navbar-nav .nav-link.open:hover, 
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.active:focus, 
.navbar-nav .nav-link.active:hover {
   color: white;
   font-weight:bold;
}

.main .container-fluid {
     padding: 0 15px; 
}

.breadcrumb {
    margin-bottom: 0.5rem;
    padding: 0rem ; 
    border-bottom: none;
}

.nav-link {
   font-weight: bold;
}

body:not(.top-nav) .sidebar {
    background-color: #E0E0E0;
    font-weight:bold;
    color: black;
}

.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 800px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 800px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }


footer.footer {
    height: 21px;
    line-height: 11px;
    padding-top: 5px;
    color: white;
    background-color: #004c9a;
}

.page-footer{
    color: #fff;
    background-color: #3e4551;
}

body.sidebar-nav .footer {
  left: 0px; }

body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link {
    color: black;
}

body:not(.top-nav) .sidebar ul.nav li.nav-item.nav-dropdown.open {
        background: #FBFBFB}

body:not(.top-nav) .sidebar ul.nav li.nav-item.nav-dropdown.open a.nav-link {
color: #000;
border-left: 0 !important; }

.pace .pace-progress {
    /* height: 5px; */
    background:#f86c6b;
}

.tab-content .tab-pane {
    padding: 0.5rem;
}

.text-pronto-state-value {
  color: #000;
  font-weight: bold;
}

.progress-new[value]::-webkit-progress-value {
  background-color: #E80C35; }

.progress-new[value]::-moz-progress-bar {
  background-color: #E80C35; }

.progress-new[value]::-ms-fill {
  background-color: #E80C35; }

@media screen and (min-width: 0\0) {
    .progress-new .progress-bar {
        background-color: #E80C35; 
    } 
}

.progress-investigating[value]::-webkit-progress-value {
  background-color: #FFAC00 }

.progress-investigating[value]::-moz-progress-bar {
  background-color: #FFAC00 }

.progress-investigating[value]::-ms-fill {
  background-color: #FFAC00 }

@media screen and (min-width: 0\0) {
    .progress-investigating .progress-bar {
        background-color: #FFAC00 
    } 
}

.progress-fcc[value]::-webkit-progress-value {
  background-color: #7C7CFF }

.progress-fcc[value]::-moz-progress-bar {
  background-color: #7C7CFF }

.progress-fcc[value]::-ms-fill {
  background-color: #7C7CFF }

@media screen and (min-width: 0\0) {
    .progress-fcc .progress-bar {
        background-color: #7C7CFF 
    } 
}


.progress-fcrft[value]::-webkit-progress-value {
  background-color: #32CDFF }

.progress-fcrft[value]::-moz-progress-bar {
  background-color: #32CDFF }

.progress-fcrft[value]::-ms-fill {
  background-color: #32CDFF }

@media screen and (min-width: 0\0) {
    .progress-fcrft .progress-bar {
        background-color: #32CDFF 
    } 
}

.progress-cpr[value]::-webkit-progress-value {
  background-color: #20CC05 }

.progress-cpr[value]::-moz-progress-bar {
  background-color: #20CC05 }

.progress-cpr[value]::-ms-fill {
  background-color: #20CC05 }

@media screen and (min-width: 0\0) {
    .progress-cpr .progress-bar {
        background-color: #20CC05 
    } 
}

.progress-cps[value]::-webkit-progress-value {
  background-color: #0069FF }

.progress-cps[value]::-moz-progress-bar {
  background-color: #0069FF }

.progress-cps[value]::-ms-fill {
  background-color: #0069FF }

@media screen and (min-width: 0\0) {
    .progress-cps .progress-bar {
        background-color: #0069FF 
    } 
}

.progress-frs[value]::-webkit-progress-value {
  background-color: #CCB514 }

.progress-frs[value]::-moz-progress-bar {
  background-color: #CCB514 }

.progress-frs[value]::-ms-fill {
  background-color: #CCB514 }

@media screen and (min-width: 0\0) {
    .progress-frs .progress-bar {
        background-color: #CCB514 
    } 
}

.progress-postponed[value]::-webkit-progress-value {
  background-color: #AAC2FF }

.progress-postponed[value]::-moz-progress-bar {
  background-color: #AAC2FF }

.progress-postponed[value]::-ms-fill {
  background-color: #AAC2FF }

@media screen and (min-width: 0\0) {
    .progress-postponed .progress-bar {
        background-color: #AAC2FF 
    } 
}

.dsbtooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.dsbtooltip .dsbtooltiptext {
    font-weight: normal;
    visibility: hidden;
    /* width: 200px; */
    background-color: dimgrey;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.dsbtooltip .dsbtooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent dimgrey transparent transparent;
}

.dsbtooltip:hover .dsbtooltiptext {
    visibility: visible;
}

.modal-header {
     padding: 3px;
}

.modal-body
{
   padding: 5px; 
}

.main {
    padding-bottom: 10px;
    min-height: 500px;
}

.card {
    margin-bottom: .7rem;
}

.card-header {
    padding: 0.1rem 1.25rem;
}

.card-block {
    padding: .15px 1.25rem; 
}
.progress {
  margin-bottom: .3rem;
}

.nav-link {
    padding: 1px 5px; 
}
.active {
    background: #e4e5e6;
}

.dropdown-item {
    padding: 5px;
}

.more-details {
    font-size: 0.75rem; 
    color: #000; 
    text-decoration: underline;
}


.tooltip-inner {
    white-space:pre;
    max-width:none;
    text-align: left;
   /*  color:#111;
    background:#fffAF0; */
}

input[type="text"].productInput::-webkit-input-placeholder {
    color: black;
    opacity: 1;
  }

input[type="text"].productInput::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

.panel-heading{
	height: 30px;padding:3px;
	font-weight:bold;
}

.row.like-table-row {
    display: table-cell;
}

.row.like-table.row > div {
    display: table-cell;
    border: 1px solid #000;
    float:none;
}

.progress-bar-danger{
	background-color:#BE0006;
}

.card-header{
	background-color:#d9edf7;
}
.loc-container{
	padding-left:10px;
}


.headingText{
    color:#ffa847;
    font-family: 'Lucida Sans';
    font-size: 60px;
    

}

.form-control-sm{
    border: 1px black;
    margin-right: 10px;
}

.search {
    position: relative;
    color:gray;

  }
  
  .search input {
     
    background: #fff;
    border: 1px solid #aaa;
    color: darkgrey;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  
  .search input { text-indent: 25px;}
  .search .fa-search { 
    position: absolute;
    top: 10px;
    left: 25px;
  }

  .input-select{
      margin: 10px 0px;
  }
  .input-select option {
    background-color: ghostwhite;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  .showWorkers td, .showWorkers th {
    border: none;
}

.showWorkers {
    border: 2px solid grey;
    border-collapse:separate;
}

.tab{
    padding-left:10px; 
}

.tab button{
    border-top-right-radius	:10px;
    border: 1.3px solid grey;   
}

.tab button.selectedTab{
    border: 2px solid gray;   
}