/* Your custom styles */

body {
  height: 100%;
  width: 100%;
  min-height:100%;
}

body.navbar-fixed .main {
    padding-top: 35px;
}

header.navbar a.navbar-brand {
    
    background-size: 95px 31px;
    /*padding: 0px; */
}

header.navbar {
    height: 40px;
    min-height: 35px;
    line-height: 35px; 
}

header.navbar a.navbar-brand {
    
}

footer {
    
    position: relative;;
    bottom:0;
}

.navbar-toggler, .aside-toggle {
    line-height: 29px; 
    font-size: 16px;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .open > .nav-link, 
.navbar-nav .open > .nav-link:focus, 
.navbar-nav .open > .nav-link:hover, 
.navbar-nav .active > .nav-link, 
.navbar-nav .active > .nav-link:focus, 
.navbar-nav .active > .nav-link:hover, 
.navbar-nav .nav-link.open, 
.navbar-nav .nav-link.open:focus, 
.navbar-nav .nav-link.open:hover, 
.navbar-nav .nav-link.active, 
.navbar-nav .nav-link.active:focus, 
.navbar-nav .nav-link.active:hover {
   color: white;
   font-weight:bold;
}

.main .container-fluid {
     padding: 0 15px; 
}

.breadcrumb {
    margin-bottom: 0.5rem;
    padding: 0rem ; 
    border-bottom: none;
}

.nav-link {
   font-weight: bold;
}

body:not(.top-nav) .sidebar {
    background-color: #E0E0E0;
    font-weight:bold;
    color: black;
}

.row {
  margin-right: -15px;
  margin-left: -15px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 800px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 800px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }
  @media (min-width: 1992px) {
    .row {
      margin-right: -15px;
      margin-left: -15px; } }


footer.footer {
    height: 21px;
    line-height: 11px;
    padding-top: 5px;
    color: white;
    background-color: #004c9a;
}

.page-footer{
    color: #fff;
    background-color: #3e4551;
}

body.sidebar-nav .footer {
  left: 0px; }

body:not(.top-nav) .sidebar ul.nav li.nav-item a.nav-link {
    color: black;
}

body:not(.top-nav) .sidebar ul.nav li.nav-item.nav-dropdown.open {
        background: #FBFBFB}

body:not(.top-nav) .sidebar ul.nav li.nav-item.nav-dropdown.open a.nav-link {
color: #000;
border-left: 0 !important; }

.pace .pace-progress {
    /* height: 5px; */
    background:#f86c6b;
}

.tab-content .tab-pane {
    padding: 0.5rem;
}

.text-pronto-state-value {
  color: #000;
  font-weight: bold;
}

.progress-new[value]::-webkit-progress-value {
  background-color: #E80C35; }

.progress-new[value]::-moz-progress-bar {
  background-color: #E80C35; }

.progress-new[value]::-ms-fill {
  background-color: #E80C35; }

@media screen and (min-width: 0\0) {
    .progress-new .progress-bar {
        background-color: #E80C35; 
    } 
}

.progress-investigating[value]::-webkit-progress-value {
  background-color: #FFAC00 }

.progress-investigating[value]::-moz-progress-bar {
  background-color: #FFAC00 }

.progress-investigating[value]::-ms-fill {
  background-color: #FFAC00 }

@media screen and (min-width: 0\0) {
    .progress-investigating .progress-bar {
        background-color: #FFAC00 
    } 
}

.progress-fcc[value]::-webkit-progress-value {
  background-color: #7C7CFF }

.progress-fcc[value]::-moz-progress-bar {
  background-color: #7C7CFF }

.progress-fcc[value]::-ms-fill {
  background-color: #7C7CFF }

@media screen and (min-width: 0\0) {
    .progress-fcc .progress-bar {
        background-color: #7C7CFF 
    } 
}


.progress-fcrft[value]::-webkit-progress-value {
  background-color: #32CDFF }

.progress-fcrft[value]::-moz-progress-bar {
  background-color: #32CDFF }

.progress-fcrft[value]::-ms-fill {
  background-color: #32CDFF }

@media screen and (min-width: 0\0) {
    .progress-fcrft .progress-bar {
        background-color: #32CDFF 
    } 
}

.progress-cpr[value]::-webkit-progress-value {
  background-color: #20CC05 }

.progress-cpr[value]::-moz-progress-bar {
  background-color: #20CC05 }

.progress-cpr[value]::-ms-fill {
  background-color: #20CC05 }

@media screen and (min-width: 0\0) {
    .progress-cpr .progress-bar {
        background-color: #20CC05 
    } 
}

.progress-cps[value]::-webkit-progress-value {
  background-color: #0069FF }

.progress-cps[value]::-moz-progress-bar {
  background-color: #0069FF }

.progress-cps[value]::-ms-fill {
  background-color: #0069FF }

@media screen and (min-width: 0\0) {
    .progress-cps .progress-bar {
        background-color: #0069FF 
    } 
}

.progress-frs[value]::-webkit-progress-value {
  background-color: #CCB514 }

.progress-frs[value]::-moz-progress-bar {
  background-color: #CCB514 }

.progress-frs[value]::-ms-fill {
  background-color: #CCB514 }

@media screen and (min-width: 0\0) {
    .progress-frs .progress-bar {
        background-color: #CCB514 
    } 
}

.progress-postponed[value]::-webkit-progress-value {
  background-color: #AAC2FF }

.progress-postponed[value]::-moz-progress-bar {
  background-color: #AAC2FF }

.progress-postponed[value]::-ms-fill {
  background-color: #AAC2FF }

@media screen and (min-width: 0\0) {
    .progress-postponed .progress-bar {
        background-color: #AAC2FF 
    } 
}

.dsbtooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.dsbtooltip .dsbtooltiptext {
    font-weight: normal;
    visibility: hidden;
    /* width: 200px; */
    background-color: dimgrey;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.dsbtooltip .dsbtooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent dimgrey transparent transparent;
}

.dsbtooltip:hover .dsbtooltiptext {
    visibility: visible;
}

.modal-header {
     padding: 3px;
}

.modal-body
{
   padding: 5px; 
}

.main {
    padding-bottom: 10px;
}

.card {
    margin-bottom: .7rem;
}

.card-header {
    padding: 0.1rem 1.25rem;
}

.card-block {
    padding: .15px 1.25rem; 
}
.progress {
  margin-bottom: .3rem;
}

.nav-link {
    padding: 1px 5px; 
}
.active {
    background: #e4e5e6;
}

.dropdown-item {
    padding: 5px;
}

.more-details {
    font-size: 0.75rem; 
    color: #000; 
    text-decoration: underline;
}


.tooltip-inner {
    white-space:pre;
    max-width:none;
    text-align: left;
   /*  color:#111;
    background:#fffAF0; */
}

input[type="text"].productInput::-webkit-input-placeholder {
    color: black;
    opacity: 1;
  }

input[type="text"].productInput::-webkit-calendar-picker-indicator {
    opacity: 100;
 }

.panel-heading{
	height: 30px;padding:3px;
	font-weight:bold;
}

.row.like-table-row {
    display: table-cell;
}

.row.like-table.row > div {
    display: table-cell;
    border: 1px solid #000;
    float:none;
}

.progress-bar-danger{
	background-color:#BE0006;
}

.card-header{
	background-color:#d9edf7;
}
.loc-container{
	padding-left:10px;
}


.headingText{
    color:#ffa847;
    font-family: "cursive";

}

.form-control-sm{
    border: 1px black;
    margin-right: 10px;
}

.search {
    position: relative;
    color: #000;
    
  }
  
  .search input {
     
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  }
  
  .search input { text-indent: 32px;}
  .search .fa-search { 
    position: absolute;
    top: 8px;
    left: 20px;
  }

  .input-select{
      margin: 10px 0px;
  }
  .input-select option {
    background-color: ghostwhite;
    color: #000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  ._1UoZlX {
	padding: 24px;
	line-height: 1;
	padding-right: 0;
	padding-bottom: 30px;
	display: block;
	overflow: hidden;
}

._1UoZlX ._3RW86r {
	width: 62px;
	border: 1px solid #388e3c;
	position: absolute;
	z-index: 2;
	left: 0;
	padding: 2px;
	font-size: 12px;
	color: #f0f0f0;
	background-color: #388e3c;
	text-align: center;
}

._1UoZlX ._3SQWE6 {
	position: relative;
	width: 200px;
	float: left;
}

._1UoZlX ._1-2Iqu {
	float: none;
	width: auto;
	padding-left: 25px;
}

._1UoZlX ._2o7WAb {
	padding-left: 25px;
}

._1UoZlX ._3wU53n {
	font-weight: 500;
	font-size: 24px;
	font-family: cursive;
	display: block;
	cursor: pointer;
}

._1UoZlX ._3wU53n:hover {
	color: #2874f0;
}

._1UoZlX .OiPjke {
	margin-top: 10px;
	font-size: 16px;
	color: grey;
	display: inline-block;
	margin-right: 14px;
}

._1UoZlX ._6BWGkk {
	display: inline-block;
	margin-top: -1px;
	padding-right: 10px;
}

._1UoZlX ._6BWGkk ._2rQ-NK {
	font-size: 25px;
	display: block;
}

._1UoZlX ._6BWGkk ._2GcJzG {
	padding-top: 10px;
	margin-left: 0;
}

._1UoZlX ._3n6o0t {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	padding-bottom: 4px;
}

._1UoZlX ._3gVem9 {
	padding-top: 8px;
}

._1UoZlX ._3MCpsc {
	line-height: 1.4;
	padding-top: 6px;
}

._1UoZlX ._3MCpsc ._1JT2XE {
	font-weight: 500;
}

._1UoZlX ._1OCn9C {
	position: relative;
	display: block;
}

._1UoZlX ._2lesQu {
	display: block;
	margin-top: 16px;
}

._1UoZlX ._3ULzGw {
	margin-top: 13px;
	font-size: 16px;
	color:gray;
}

._1UoZlX ._3ULzGw .f72QGD {
	color: #878787;
}

._1UoZlX ._3ULzGw .vFw0gD {
	margin-top: 5px;
	color: #212121;
	line-height: 22px;
	display: table;
}

._1UoZlX ._3ULzGw .vFw0gD .tVe95H {
	display: table-row;
	padding-right: 8px;
}

._1UoZlX ._3ULzGw .vFw0gD .tVe95H::before {
	content: '\2022';
	color: #c2c2c2;
	padding-right: 8px;
	display: table-cell;
}

._1UoZlX ._32A6AP {
	position: absolute;
	display: inline-block;
	top: 2px;
	right: -8px;
	cursor: pointer;
}

._1UoZlX ._32A6AP ._2IolMu {
	fill: #ff6161;
}

._1UoZlX ._32A6AP .lnuPV2 {
	fill: #c2c2c2;
}

._1UoZlX:hover ._3wU53n {
	color: #2874f0;
}

._3BTv9X {
	position: relative;
	margin: 0 auto;
}

._3BTv9X ._1Nyybr {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	opacity: 0;
	max-width: 100%;
	max-height: 100%;
}

._3BTv9X ._30XEf0 {
	opacity: 1;
}

._3gDSOa._2kA-_z ._35Y7Yo {
	fill: #ff6161;
}

._3gDSOa ._3I1Lzl:nth-child(4)::before {
	-webkit-transform: translate3d(-4px, -5px, 0);
	transform: translate3d(-4px, -5px, 0);
}

._3gDSOa ._3I1Lzl:nth-child(4)::after {
	-webkit-transform: translate3d(4px, -5px, 0) scale(0.7);
	transform: translate3d(4px, -5px, 0) scale(0.7);
}

._3gDSOa ._3I1Lzl:nth-child(3)::before {
	-webkit-transform: translate3d(-5px, -4px, 0);
	transform: translate3d(-5px, -4px, 0);
}

._3gDSOa ._3I1Lzl:nth-child(3)::after {
	-webkit-transform: translate3d(-5px, 4px, 0) scale(0.7);
	transform: translate3d(-5px, 4px, 0) scale(0.7);
}

._3gDSOa ._3I1Lzl:nth-child(2)::before {
	-webkit-transform: translate3d(-4px, 5px, 0);
	transform: translate3d(-4px, 5px, 0);
}

._3gDSOa ._3I1Lzl:nth-child(2)::after {
	-webkit-transform: translate3d(4px, 5px, 0) scale(0.7);
	transform: translate3d(4px, 5px, 0) scale(0.7);
}

._3gDSOa ._3I1Lzl:nth-child(1)::before {
	-webkit-transform: translate3d(5px, -4px, 0);
	transform: translate3d(5px, -4px, 0);
}

._3gDSOa ._3I1Lzl:nth-child(1)::after {
	-webkit-transform: translate3d(5px, 4px, 0) scale(0.7);
	transform: translate3d(5px, 4px, 0) scale(0.7);
}

._3gDSOa ._3I1Lzl::after {
	background: #ff9f00;
}

._3gDSOa ._3I1Lzl::before {
	background: #ffe11b;
}

._3gDSOa .DsQ2eg {
	position: relative;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

._3gDSOa ._35Y7Yo {
	fill: #c2c2c2;
}

._3gDSOa .r9OBmc {
	position: absolute;
	top: 50%;
	left: 50%;
}

._3gDSOa .r9OBmc {
	opacity: 0;
}

._3gDSOa ._22jaBC {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: rgb(198, 40, 40);
	transition: background 0.2s ease;
	-webkit-transform: translate3d(0, 0, 0) scale(0);
	transform: translate3d(0, 0, 0) scale(0);
	position: absolute;
	opacity: 1;
	top: -12px;
	left: -10px;
}

._3gDSOa ._3I1Lzl {}

._3gDSOa ._3I1Lzl::before,
._3gDSOa ._3I1Lzl::after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	margin: -2px;
	border-radius: 50%;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(1)::after {
	-webkit-animation: _3z13ic 0.6s ease 0.3s;
	animation: _3z13ic 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(4)::before {
	-webkit-animation: u9Mhrv 0.6s ease 0.3s;
	animation: u9Mhrv 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(4)::after {
	-webkit-animation: _2ERa1V 0.6s ease 0.3s;
	animation: _2ERa1V 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(3)::before {
	-webkit-animation: _3TtatR 0.6s ease 0.3s;
	animation: _3TtatR 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(3)::after {
	-webkit-animation: _3UC1np 0.6s ease 0.3s;
	animation: _3UC1np 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(2)::before {
	-webkit-animation: _33IoP_ 0.6s ease 0.3s;
	animation: _33IoP_ 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(2)::after {
	-webkit-animation: _2D5htx 0.6s ease 0.3s;
	animation: _2D5htx 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 .r9OBmc {
	-webkit-animation: r9OBmc 0.6s ease 0.3s;
	animation: r9OBmc 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl {}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(1) {}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(1)::before {
	-webkit-animation: _18Xo9B 0.6s ease 0.3s;
	animation: _18Xo9B 0.6s ease 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._2oLiqr {
	-webkit-animation: _26Tc6u 0.2s ease forwards 0.3s;
	animation: _26Tc6u 0.2s ease forwards 0.3s;
}

._3gDSOa._2kA-_z._1sNSn9 ._22jaBC {
	-webkit-animation: _3d25CI 0.25s ease forwards 0.2s;
	animation: _3d25CI 0.25s ease forwards 0.2s;
}
._1uv9Cb ._1vC4OE {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #212121;
}
._1uv9Cb ._3auQ3N {
	text-decoration: line-through;
	display: inline-block;
	margin-left: 8px;
	font-size: 14px;
	color: #878787;
}
._1uv9Cb .VGWI6T {
	display: inline-block;
	margin-left: 8px;
	color: #388e3c;
	font-size: 13px;
	letter-spacing: -0.2px;
	font-weight: 500;
}
._1uv9Cb ._1NO3oe {
	font-size: 16px;
	color: #212121;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%;
}
._3T_wwx ._2-gKeQ {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}
._3T_wwx ._1CBBe9 {
	padding: 8px 0;
	background-color: #f1f3f6;
}
._3T_wwx ._1EutFU {
	position: relative;
	background-color: #f1f3f6;
	border-bottom: 1px solid #f0f0f0;
}


.checked {
    color: orange;
}

/* Other styling */

.art img {
    height: 100%;
    width: 100%
}

.art {
    border-radius: 2px;
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative
}

.art:after {
    border-radius: 2px;
    bottom: 0;
    box-shadow: inset rgba(0, 0, 0, .17) 0 0 0 1px;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100
}

.art a {
    display: block;
    border: none !important
}

.art a img {
    display: block
}

.group-art,
.solo-art {
    border-radius: 2px;
    height: 160px;
    overflow: hidden;
    position: relative;
    width: 160px
}


.profile-art,
.page-header .art.profile-art {
    background: transparent;
    border: 2px solid #ffa847;
    border-radius: 80px
}

.profile-art.no-img,
.page-header .art.profile-art.no-img {
    border-color: #ffa847;
}

.profile-art:after {
    display: none
}

.label-view .profile-art,
.label-view .page-header .art.profile-art {
    border-radius: 2px ;
    height: 120px;
    width: 120px
}


.h5Label{
	color: #ffa847;
}



.index-art {
    border-radius: 2px;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100px
}
