{% extends "layout.html" %}
{% block body %}


<div class="container" style="padding-top: 50px">
	 <div class="center-block  form-login col-md-4" style="float: none;">	
		<div class="card card-accent-primary">
			<div class="card card-accent-primary" >
				<div class="card-header font-weight-bold h7" style="padding: 0.35rem 1.25rem;">
					Please Sign In
				</div>
				<form action={{url_for('login')}} method="post">
					<div class="card-block">
						<div class="input-group m-b-1"></div>
						<div class="row"></br></div>
						<div class="input-group m-b-1">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input type="email" class="form-control" placeholder="Email Id"  name="username" autofocus="">
						</div>
						<div class="row"></br></div>
						<div class="input-group m-b-2">
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
							<input type="password" class="form-control" placeholder="Password" name="password">
						</div>
						<div class="row"></br></div>
						<div class="row">
							<div class="col-lg-12">
								<button type="submit" class="btn btn-primary p-x-2 pull-right" style="margin-bottom: 15px; ">Login</button>
							</div>
						</div>
					</div>
					<div class="card-block"> 
						<h6>Dont have an account?<a href="/register"> SignUp </a></h6>
					</div>
				</form>
			</div>
		</div>
	 </div>
</div>

{% endblock %}
